@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(218, 23%, 16%);
}


.container {
    width: 500px;
    background: hsl(217, 19%, 24%);
    min-height: 300px;
    border-radius: 8px;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title {
    text-transform: uppercase;
    color: hsl(150, 100%, 66%);
    text-align: center;
    padding: 15px;
    font-family: Manrope, sans-serif;
    font-size: 12px;
}

#adviceContainer {
    color: hsl(193, 38%, 86%);
    font-family: Manrope, sans-serif;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    padding: 10px;
}

#divider {
    width: 100%;
    margin: 40px auto;
    color: hsl(193, 38%, 86%);
}

#divider img {
    width: 400px;
    margin: auto;
    display: block;
}

#dice {
    position: absolute;
    bottom: -20px;
    background: hsl(150, 100%, 66%);
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s;
    left: 46%;
}

#dice:active {
    transform: scale(1.09);
    box-shadow: 1px 4px 10px hsl(150, 95%, 76%);
}

#dice:hover {
    background: hsl(150, 95%, 76%);
}

#dice img {
    width: 20px;
}

@media screen and (max-width: 401px) {
    .container {
        max-width: 90%;
    }

    #dice {
        left: 44%;
    }

    #divider img {
        display: none;
    }

    #divider {
        height: 30px;
        background: url(/images/pattern-divider-mobile.svg) no-repeat;
        background-size: contain;
        width: 90%;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}